:root {
    --gradient1: linear-gradient(
        hsl(249, 99%, 64%),
        hsl(278, 94%, 30%)
    );
    --primary-color2: hsl(0, 100%, 66%);
    --neutral-color1: hsl(0, 0%, 100%);
    --neutral-color2: hsl(270, 3%, 87%);
    --neutral-color3: hsl(279, 6%, 55%);
    --neutral-color4: hsl(278, 68%, 11%);
}
html {
    font-size: 18px;
}
* {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/bg-main-desktop.png) no-repeat;
    background-size: 35% 100%;
}
main {
    width: 1200px;
    height: 600px;
    display: flex;
}
#card {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
}
#front {
    width: 447px;
    height: 245px;
    background: url(./images/bg-card-front.png);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 24px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 24px -13px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 24px -13px rgba(66, 68, 90, 1);
}
#circles {
    width: 100%;
    height: 50px;
    padding: 30px;
    display: flex;
    align-items: center;
}
#filled {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--neutral-color1);
    margin-right: 20px;
}
#outline {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid var(--neutral-color1);
}
#number {
    width: 100%;
    height: 50px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 1.6rem;
    color: var(--neutral-color1);
    letter-spacing: 3px;
    margin-bottom: 10px;
}
#nameDate {
    padding-left: 30px;
    padding-right: 30px;
    color: var(--neutral-color1);
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-between;
}
#back {
    width: 447px;
    height: 245px;
    background: url(./images/bg-card-back.png);
    margin-right: 10%;
    margin-left: auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 24px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 24px -13px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 24px -13px rgba(66, 68, 90, 1);
}
#cvc {
    margin-left: 360px;
    margin-top: 111px;
    font-size: 0.8rem;
    color: var(--neutral-color1);
    letter-spacing: 3px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 50px;
    padding-right: 50px;
}
h2 {
    color: var(--neutral-color4);
    font-size: 0.7rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
input {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--neutral-color2);
    font-size: 1rem;
    padding-left: 15px;
    position: relative;
}
#data {
    display: flex;
}
#year {
    display: inline-block;
    margin-left: 20px;
}
#data input {
    width: 70px;
}
#cvcNumber {
    width: 165px !important;
}
#cvcData {
    margin-left: 40px;
}
input::placeholder {
    font-size: 1rem;
    color: var(--neutral-color3);
}
p {
    height: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: var(--primary-color2);
    font-size: 0.7rem;
    margin-left: 10px;
}
button {
    width: 420px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--neutral-color4);
    color: var(--neutral-color1);
    font-size: 1.1rem;
}
#cardNumber {
    word-spacing: 0px;
}
#errorDate {
    display: flex;
}
#error3 {
    width: 80px;
    margin-right: 28px;
}
#error4 {
    width: 80px;
    display: inline-block !important;
}
input:focus, input:hover {
    outline: none !important;
    border: double 1px transparent !important;
    border-radius: 10px;
    background-image: 
        linear-gradient(white, white), 
        var(--gradient1);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}
#completed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 50px;
    padding-right: 50px;
    text-align: center;
    display: none;
}
#completed img {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
}
h1 {
    font-weight: 500;
    letter-spacing: 3px;
    color: var(--neutral-color4);
    font-size: 2rem;
    margin-bottom: 20px;
}
h3 {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--neutral-color3);
    margin-bottom: 40px;
}
@media (max-width: 990px) {
    body {
        height: auto;
        background-size: 100% 35%;
    }
    main {
        width: 90%;
        height: auto;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }
    #card {
        width: 100%;
        position: relative;
    }
    #front {
        width: 280px;
        height: 160px;
        margin-top: 150px;
        background-size: cover;
    }
    #circles {
        width: 100%;
        height: 20px;
        padding: 20px;
    }
    #filled {
        height: 35px;
        width: 35px;
        margin-right: 10px;
    }
    #outline {
        height: 15px;
        width: 15px;
    }
    #number {
        height: 35px;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 0.9rem;
    }
    #nameDate {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 0.5rem;
        display: flex;
        justify-content: space-between;
    }
    #back {
        width: 280px;
        height: 160px;
        position: absolute;
        z-index: -1;
        top: 10%;
        background-size: cover;
        left: 20%;
        background-position: 50% 10%;
        box-sizing: border-box;
    }
    #cvc {
        margin-left: 0;
        margin-top: 0;
        font-size: 0.6rem;
        color: var(--neutral-color1);
        letter-spacing: 3px;
        position: absolute;
        top: 45%;
        right: 10%;
    }
    form {
        width: 90%;
        margin-left: 0px;
        padding-right: 0px;
        box-sizing: border-box;
        margin-top: 50px;
    }
    h2 {
        color: var(--neutral-color4);
        font-size: 0.7rem;
        letter-spacing: 3px;
        margin-bottom: 10px;
    }
    input {
        width: 100%;
        height: 40px;
        position: relative;
        box-sizing: border-box;
    }
    #year {
        margin-left: 10px;
    }
    #data input {
        width: 70px;
    }
    #cvcNumber {
        width: 100px !important;
    }
    #cvcData {
        margin-left: 0px;
    }
    button {
        width: 100%;
        margin-bottom: 50px;
    }
    #completed {
        width: 100%;
        margin-top: 60px;
    }
    #completed img {
        width: 80px;
        height: 80px;
        margin-bottom: 40px;
    }
    h1 {
        font-weight: 500;
        letter-spacing: 3px;
        color: var(--neutral-color4);
        font-size: 2rem;
        margin-bottom: 20px;
    }
    h3 {
        font-weight: 500;
        font-size: 1.2rem;
        color: var(--neutral-color3);
        margin-bottom: 40px;
    }
}